p {
    padding: 0;
    margin: 0;
}

.cardGrid {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 48px;
    align-content: center;
    justify-content: center;
}

.materials {    
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    height: 170px;
    border: 5px solid rgb(21, 150, 96);
    background-color: white;
    transition: 0.5s;
}

.materials:hover {
    transform: scale(1.2);
}

.itemName {
    font-weight: bolder;
    color: black;
}

img {
    align-self: center;
}


@media screen and (max-width: 1000px) {
    .cardGrid {
        grid: 1fr/ repeat(1, 200px)
    }
}